body {
    background:#ffffff;
}
button{
    border:none;
    cursor:pointer;
    outline:none;
}

button#playbutton{
    background:url(images/start.png)no-repeat;
    width:248px;
    height:272px;
}

button#mutebutton{
    background:url(images/pause.png)no-repeat;
    width:248px;
    height:272px;
}
