body {
    background:#ffffff;
}
button{
    border:none;
    cursor:pointer;
    outline:none;
    width:248px;
    height:272px;
}

button#playpausebutton{
    background:url(images/start.png)no-repeat;
}

button#pauseplaybutton{
    background:url(images/pause.png)no-repeat;
}
