body {
    background:#000;
}
button{
    border:none; cursor:pointer;
}

button#playpausebutton{
    background:url(images/play.png)no-repeat;
    width:248px;
    height:272px;
}

button#mutebutton{
    background:url(images/pause.png);
    width:248px;
    height:272px;
}